---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/statuses/show/351779153646858241.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="a732d310ec12478ada8671fd10d0974d",
        oauth_signature="9mS1E%2FlrqKmu9jXdKD5FNg8eyXs%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1372754297", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Tue, 02 Jul 2013 08:38:13 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '179'
      X-Rate-Limit-Reset:
      - '1372755193'
      X-Transaction:
      - 6926b5a86845094f
    body:
      encoding: UTF-8
      string: '{"created_at":"Mon Jul 01 19:07:40 +0000 2013","id":351779153646858241,"id_str":"351779153646858241","text":"@MGadvertising
        It should only take a min. Clear cache and cookies http:\/\/t.co\/PJQzdmaqQR
        then email us for help http:\/\/t.co\/gtHo1eRbtr","source":"\u003ca href=\"https:\/\/dash.37signals.com\"
        rel=\"nofollow\"\u003e37signals\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":351777754364129280,"in_reply_to_status_id_str":"351777754364129280","in_reply_to_user_id":36397199,"in_reply_to_user_id_str":"36397199","in_reply_to_screen_name":"MGadvertising","user":{"id":11132462,"id_str":"11132462","name":"37signals","screen_name":"37signals","location":"Chicago,
        IL","description":"News on 37signals products and more. We''re here to answer
        your questions Mon-Fri 9am-6pm CT!","url":"http:\/\/t.co\/ETXlEIHMMA","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/ETXlEIHMMA","expanded_url":"http:\/\/37signals.com","display_url":"37signals.com","indices":[0,22]}]},"description":{"urls":[]}},"protected":false,"followers_count":95996,"friends_count":37,"listed_count":6154,"created_at":"Thu
        Dec 13 16:27:41 +0000 2007","favourites_count":38,"utc_offset":-21600,"time_zone":"Central
        Time (US & Canada)","geo_enabled":false,"verified":false,"statuses_count":21604,"lang":"en","contributors_enabled":false,"is_translator":false,"profile_background_color":"FFFFFF","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/646827914\/ej1jsntvrgl3djfh2isb.gif","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/646827914\/ej1jsntvrgl3djfh2isb.gif","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/52399095\/37_normal.png","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/52399095\/37_normal.png","profile_link_color":"40C4F3","profile_sidebar_border_color":"000000","profile_sidebar_fill_color":"FFFFFF","profile_text_color":"000000","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":true,"follow_request_sent":false,"notifications":null},"geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[{"url":"http:\/\/t.co\/PJQzdmaqQR","expanded_url":"http:\/\/37signals.com\/troubleshooting","display_url":"37signals.com\/troubleshooting","indices":[66,88]},{"url":"http:\/\/t.co\/gtHo1eRbtr","expanded_url":"http:\/\/help.37signals.com\/bcx\/tickets\/new?source=twitter","display_url":"help.37signals.com\/bcx\/tickets\/ne\u2026","indices":[112,134]}],"user_mentions":[{"screen_name":"MGadvertising","name":"McFadden\/Gavender","id":36397199,"id_str":"36397199","indices":[0,14]}]},"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Tue, 02 Jul 2013 08:38:19 GMT
recorded_with: VCR 2.5.0
