---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/1.1/users/search.json?count=20&page=1&q=Customer%20Care
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="<TWITTER_CONSUMER_KEY>", oauth_nonce="e7320d57b269a75220559251a61a6f61",
        oauth_signature="rXgmEj2O0AnPjYSmVN5hJ7w397c%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1374183751", oauth_token="<TWITTER_OAUTH_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Thu, 18 Jul 2013 21:42:32 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write-directmessages
      X-Rate-Limit-Limit:
      - '180'
      X-Rate-Limit-Remaining:
      - '177'
      X-Rate-Limit-Reset:
      - '1374184612'
      X-Transaction:
      - 17d096fe91bb3625
    body:
      encoding: UTF-8
      string: '[{"id":548904824,"id_str":"548904824","name":"Indosat CustomerCare","screen_name":"IndosatCare","location":"","description":"Official
        Account of Indosat Customer Service| PT. Indosat Tbk.| For Promo follow @IndosatMania|
        Operasional 24 Jam \/ 7 hari \u00b7 http:\/\/t.co\/JpMN1o37","url":"http:\/\/t.co\/sVJnx7cfep","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/sVJnx7cfep","expanded_url":"http:\/\/www.indosat.com","display_url":"indosat.com","indices":[0,22]}]},"description":{"urls":[{"url":"http:\/\/t.co\/JpMN1o37","expanded_url":"http:\/\/www.indosat.com","display_url":"indosat.com","indices":[126,146]}]}},"protected":false,"followers_count":62628,"friends_count":39801,"listed_count":134,"created_at":"Mon
        Apr 09 03:21:56 +0000 2012","favourites_count":0,"utc_offset":25200,"time_zone":"Jakarta","geo_enabled":false,"verified":false,"statuses_count":190235,"lang":"en","status":{"created_at":"Thu
        Jul 18 21:41:13 +0000 2013","id":357978390613078016,"id_str":"357978390613078016","text":"@NurullHasna
        Dipastikan jika akses situs, di logout terlebih dahulu, lalu keluar melalui
        menu exit. Terima kasih ^AD","source":"\u003ca href=\"https:\/\/twitter.com\/IndosatCare\"
        rel=\"nofollow\"\u003eindosatcare\u003c\/a\u003e","truncated":false,"in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":1289163672,"in_reply_to_user_id_str":"1289163672","in_reply_to_screen_name":"NurullHasna","geo":null,"coordinates":null,"place":null,"contributors":null,"retweet_count":0,"favorite_count":0,"entities":{"hashtags":[],"symbols":[],"urls":[],"user_mentions":[{"screen_name":"NurullHasna","name":"N
        U R U L","id":1289163672,"id_str":"1289163672","indices":[0,12]}]},"favorited":false,"retweeted":false,"lang":"id"},"contributors_enabled":false,"is_translator":false,"profile_background_color":"ACDED6","profile_background_image_url":"http:\/\/a0.twimg.com\/profile_background_images\/643862877\/k0rkjqhqtw56xmmk8bmn.jpeg","profile_background_image_url_https":"https:\/\/si0.twimg.com\/profile_background_images\/643862877\/k0rkjqhqtw56xmmk8bmn.jpeg","profile_background_tile":false,"profile_image_url":"http:\/\/a0.twimg.com\/profile_images\/2547488911\/dbky54mws9hy02gxfqp7_normal.jpeg","profile_image_url_https":"https:\/\/si0.twimg.com\/profile_images\/2547488911\/dbky54mws9hy02gxfqp7_normal.jpeg","profile_banner_url":"https:\/\/pbs.twimg.com\/profile_banners\/548904824\/1355216793","profile_link_color":"038543","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"default_profile":false,"default_profile_image":false,"following":false,"follow_request_sent":false,"notifications":false},{"id":271986064,"id_str":"271986064","name":"Tesco
        Customer Care","screen_name":"UKTesco","location":"","description":"This is
        the official Twitter account of Tesco''s UK Customer Care team. You can also
        contact us on 0800 505 555. We''re here to help.","url":"http:\/\/t.co\/WotEYYfWQe","entities":{"url":{"urls":[{"url":"http:\/\/t.co\/WotEYYfWQe","expanded_url":"http:\/\/www.tesco.com\/help","display_url":"tesco.com\/help","indices":[0,22]}]},"description":{"urls"[...]
[...]
